.wrapper{
    background-color: #CAD8E3;
}

header{
    border: 2px solid black;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 25px;
    margin: 15px;
    text-align: center;
    color: #10314A;
}

body { 
    color: #10314A;
}

nav{
    padding-bottom: 25px;
    padding-left: 10px;
    border-bottom: 1px solid black;
}

a{
    color: #10314A;
    text-decoration: none;
    font-size: 1.1rem;
}
a:link {
    color: #206599;
}
  
  /* mouse over link */
  a:hover {
    color: #2A84C9;
    padding: 2px;
}


main{
    border: 2px solid black;
    padding: 5px;
    margin: 15px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
}

td{
    text-align: center;
    padding: 8px;
}

table, th, td {
    border: 1px solid;
  }

footer{
    border: 2px solid black;
    padding: 5px;
    margin: 15px;
    text-align: center;
    color: #10314A;
}
